.wrapper {
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    justify-content: center;
    text-align: center;
  
    margin: 0 auto; 
    height: 250px;
    width: 300px; 
    
  } 

  .circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: pink;
  }